@model SearchViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Pokedex</h2>

<a asp-controller="Home" asp-action="List">List All Pokemon</a>

<form asp-controller="Home" asp-action="Index">
   <label asp-for="SearchString"></label>
   <input asp-for="SearchString" type="text" placeholder="Search" autofocus />
   <span asp-validation-for="SearchString"></span>
   <button type="submit">Search</button>
</form>

@if (Model.Pokemons != null && Model.Pokemons.Count() > 0)
{
    <h4>Results</h4>
    <b>Amount of Hits: @Model.AmountOfHits</b>

    @foreach (var post in Model.Pokemons)
    {
        @Html.Partial("ListPokemonsPage", post)
    }
    <br />
}
else
{
    <h5>No Pokemon found.</h5>
}
